header {
	color: gray;
}

header h1 {
	font-size: 45px;
	vertical-align: center;
	color: gray;
}
header h1 img {
	display: block;
}
header h1,
header nav {
	display: inline-block;
}

header nav ul {
	list-style: square;
}

nav ul li a {
    color: gray;
    text-decoration: none;
}

nav ul li  {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	padding: 20px;
	display: block;
}

body header {
	border-bottom: 1px gray solid;
	padding: 10px;
	text-align: center;
}
body {
	margin: 0;
	vertical-align: middle;
}

section {
	vertical-align: middle;
}

section h2 {
	color: black;
	text-align: center;
}
section p {
	color: gray;
	text-align: center;
}

section p a {
	color: gray;
}

section img {
	text-align: center;
}